## Часть 1: Введение в Pandas

Pandas - это библиотека Python для работы с данными. Она предоставляет мощные инструменты для анализа и манипуляции данными.

### Установка Pandas

Для начала убедитесь, что у вас установлена библиотека Pandas. Если ее нет, установите ее с помощью команды:

In [2]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp39-cp39-win_amd64.whl (11.6 MB)
     ---------------------------------------- 11.6/11.6 MB 6.4 MB/s eta 0:00:00
Collecting numpy>=1.22.4
  Downloading numpy-2.0.2-cp39-cp39-win_amd64.whl (15.9 MB)
     --------------------------------------- 15.9/15.9 MB 41.0 MB/s eta 0:00:00
Collecting tzdata>=2022.7
  Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
     -------------------------------------- 346.6/346.6 KB 7.2 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\honor\appdata\roaming\python\python39\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1
  Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
     ------------------------------------- 508.0/508.0 KB 10.6 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\honor\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.0.2 pandas-2.2.3 pytz-2024.2 tzdata-2024.2
Note: you may need to restart the kernel to use updated packages.

  WARNING: The scripts f2py.exe and numpy-config.exe are installed in 'c:\Users\HONOR\AppData\Local\Programs\Python\Python39\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
WARNING: You are using pip version 22.0.4; however, version 24.3 is available.
You should consider upgrading via the 'c:\Users\HONOR\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

## Импорт библиотеки
Давайте начнем с импорта библиотеки Pandas:

In [2]:
import pandas

ModuleNotFoundError: No module named 'pandas'

## Часть 2: Работа с данными
### Чтение данных
Мы будем использовать датасет Titanic. Давайте прочитаем данные из CSV файла.

In [5]:
import pandas as pd
df = pd.read_csv('titanic.csv')

ModuleNotFoundError: No module named 'pandas'

### Предпросмотр данных
Для первого ознакомления с данными давайте выведем первые несколько строк.

In [1]:
df = pd.read_csv('titanic.csv')
print(df.head())

NameError: name 'pd' is not defined

### Информация о данных
Чтобы получить общую информацию о данных, воспользуйтесь методом .info().

In [ ]:
print(df.info())

### Работа с NaN
Часто данные содержат пропущенные значения, которые представляются как NaN (Not a Number). Pandas предоставляет удобные методы для работы с ними.

Проверка на наличие NaN. Методы fillna и dropna возвращают новые Dataframe, проверьте нет ли в них NaN

In [2]:
print(df.isna())

Заполнение NaN

In [ ]:
df_filled = df.fillna(0)
print(df_filled.isna())

Удаление строк с NaN

In [3]:
df_dropped = df.dropna()
print(df_dropped.isna())

## Часть 3: Обработка DataFrame
### Выбор данных
Pandas позволяет выбирать данные по индексам, меткам столбцов и условиям.

In [4]:
for i in range(len(df)):
    if df['Sex'].loc[i] == 'male' and df['Age'].loc[i] > 30:
        print(df['Name'].loc[i])

### Сортировка данных
Сортировка данных по значениям столбцов.

In [5]:
df = df.fillna(0)
print(df.sort_values(by = 'Age'))

### Группировка данных
Pandas также позволяет группировать данные и выполнять агрегирующие операции.

In [6]:
survival_rate_by_class = data.groupby('Pclass')['Survived'].count()
print(survival_rate_by_class)

## Часть 4: Задания для практики
Прочитайте данные из файла 'titanic.csv'.
Проверьте, есть ли пропущенные значения в данных и заполните их нулями.
Выведите первые 10 строк данных.
Выберите только те строки, где значение в столбце 'Age' больше 30.
Отсортируйте данные по столбцу 'Fare' в порядке убывания.
Сгруппируйте данные по столбцу 'Pclass' и вычислите средний возраст ('Age') для каждого класса.

In [1]:
import pandas as pd

data = pd.read_csv('titanic.csv')

data = data.fillna(0)

print("Первые 10 строк данных:")
print(data.head(10))

filtered_data = data[data['Age'] > 30]

sorted_data = filtered_data.sort_values(by='Fare', ascending=False)

average_age_by_pclass = sorted_data.groupby('Pclass')['Age'].mean()

print("\nСтроки, где значение в столбце 'Age' больше 30, отсортированные по 'Fare':")
print(sorted_data)

print("\nСредний возраст ('Age') для каждого класса ('Pclass'):")
print(average_age_by_pclass)

Первые 10 строк данных:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   0.0      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500     0        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250     0        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500     0        S
5      0            330877   8.4583     0        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750     0        S
8      2            347742  11.1333     0        S
9      0            237736  30.0708     0        C

Строки, где значение в столбце 'Age' больше 30, отсортированные по 'Fare':
     PassengerId  Survived  Pclass  \
679          680         1       1
737          738         1       1
258          259         1       1
438          439         0       1
299          300         1       1
..           ...       ...     ...
263          264         0       1
179          180         0       3
597          598         0       3
806          807         0       1
822          823         0       1

                                                Name     Sex   Age  SibSp  \
679               Cardeza, Mr. Thomas Drake Martinez    male  36.0      0
737                           Lesurer, Mr. Gustave J    male  35.0      0
258                                 Ward, Miss. Anna  female  35.0      0
438                                Fortune, Mr. Mark    male  64.0      1
299  Baxter, Mrs. James (Helene DeLaudeniere Chaput)  female  50.0      0
..                                               ...     ...   ...    ...
263                            Harrison, Mr. William    male  40.0      0
179                              Leonard, Mr. Lionel    male  36.0      0
597                              Johnson, Mr. Alfred    male  49.0      0
806                           Andrews, Mr. Thomas Jr    male  39.0      0
822                  Reuchlin, Jonkheer. John George    male  38.0      0

     Parch    Ticket      Fare        Cabin Embarked
679      1  PC 17755  512.3292  B51 B53 B55        C
737      0  PC 17755  512.3292         B101        C
258      0  PC 17755  512.3292            0        C
438      4     19950  263.0000  C23 C25 C27        S
299      1  PC 17558  247.5208      B58 B60        C
..     ...       ...       ...          ...      ...
263      0    112059    0.0000          B94        S
179      0      LINE    0.0000            0        S
597      0      LINE    0.0000            0        S
806      0    112050    0.0000          A36        S
822      0     19972    0.0000            0        S

[305 rows x 12 columns]

Средний возраст ('Age') для каждого класса ('Pclass'):
Pclass
1    46.196000
2    41.694805
3    39.883495
Name: Age, dtype: float64